artifacts/s3_to_postgres_shop_work.json
{"flowContents":{"identifier":"77ee8b3e-579a-3d48-a99f-57ceb01b44fd","instanceIdentifier":"1d674ba2-019a-1000-a77e-2d15b332568b","name":"s3 to postgres shop work","comments":"","position":{"x":-288.0,"y":-176.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"66c11031-3382-3934-9f10-c29b2d9cbfc4","instanceIdentifier":"261f4c6f-019a-1000-bfe3-2f600e3e2bce","name":"GenerateFlowFile","comments":"","position":{"x":1424.0,"y":-120.0},"type":"org.apache.nifi.processors.standard.GenerateFlowFile","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.3.0"},"properties":{"character-set":"UTF-8","File Size":"0B","mime-type":null,"generate-ff-custom-text":null,"Batch Size":"1","Unique FlowFiles":"false","Data Format":"Text"},"propertyDescriptors":{"character-set":{"name":"character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false},"File Size":{"name":"File Size","displayName":"File Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"mime-type":{"name":"mime-type","displayName":"Mime Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"generate-ff-custom-text":{"name":"generate-ff-custom-text","displayName":"Custom Text","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Batch Size":{"name":"Batch Size","displayName":"Batch Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Unique FlowFiles":{"name":"Unique FlowFiles","displayName":"Unique FlowFiles","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Data Format":{"name":"Data Format","displayName":"Data Format","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"1 min","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"77ee8b3e-579a-3d48-a99f-57ceb01b44fd"},{"identifier":"0bc39506-f3f3-32c2-ac40-4582f8e7abed","instanceIdentifier":"2619735e-019a-1000-bcfc-141404973bb6","name":"GenerateFlowFile","comments":"","position":{"x":824.0,"y":-120.0},"type":"org.apache.nifi.processors.standard.GenerateFlowFile","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.3.0"},"properties":{"character-set":"UTF-8","File Size":"0B","mime-type":null,"generate-ff-custom-text":null,"Batch Size":"1","Unique FlowFiles":"false","Data Format":"Text"},"propertyDescriptors":{"character-set":{"name":"character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false},"File Size":{"name":"File Size","displayName":"File Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"mime-type":{"name":"mime-type","displayName":"Mime Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"generate-ff-custom-text":{"name":"generate-ff-custom-text","displayName":"Custom Text","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Batch Size":{"name":"Batch Size","displayName":"Batch Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Unique FlowFiles":{"name":"Unique FlowFiles","displayName":"Unique FlowFiles","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Data Format":{"name":"Data Format","displayName":"Data Format","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"1 min","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"77ee8b3e-579a-3d48-a99f-57ceb01b44fd"},{"identifier":"df3fecd1-7dc6-3b9f-93cd-ec83f5d3a35a","instanceIdentifier":"26205d53-019a-1000-6ac3-fc36806e5cc8","name":"LogMessage","comments":"","position":{"x":1424.0,"y":248.0},"type":"org.apache.nifi.processors.standard.LogMessage","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.3.0"},"properties":{"log-message":null,"log-level":"info","log-prefix":null},"propertyDescriptors":{"log-message":{"name":"log-message","displayName":"Log message","identifiesControllerService":false,"sensitive":false,"dynamic":false},"log-level":{"name":"log-level","displayName":"Log Level","identifiesControllerService":false,"sensitive":false,"dynamic":false},"log-prefix":{"name":"log-prefix","displayName":"Log prefix","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"DISABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"77ee8b3e-579a-3d48-a99f-57ceb01b44fd"},{"identifier":"93686f67-de16-3ee5-a377-e7ac4552e0c0","instanceIdentifier":"261ac3ed-019a-1000-8a1a-9fd236c6d43c","name":"LogMessage","comments":"","position":{"x":824.0,"y":248.0},"type":"org.apache.nifi.processors.standard.LogMessage","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.3.0"},"properties":{"log-message":null,"log-level":"info","log-prefix":null},"propertyDescriptors":{"log-message":{"name":"log-message","displayName":"Log message","identifiesControllerService":false,"sensitive":false,"dynamic":false},"log-level":{"name":"log-level","displayName":"Log Level","identifiesControllerService":false,"sensitive":false,"dynamic":false},"log-prefix":{"name":"log-prefix","displayName":"Log prefix","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"DISABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"77ee8b3e-579a-3d48-a99f-57ceb01b44fd"},{"identifier":"dd2edc31-8919-3260-9ef7-78d7b1934f6f","instanceIdentifier":"1ff97428-019a-1000-29ea-4df6e031933e","name":"PutDatabaseRecord","comments":"","position":{"x":-192.0,"y":616.0},"type":"org.apache.nifi.processors.standard.PutDatabaseRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.3.0"},"properties":{"put-db-record-allow-multiple-statements":"false","put-db-record-schema-name":null,"put-db-record-field-containing-sql":null,"put-db-record-unmatched-column-behavior":"Ignore Unmatched Columns","Delete Keys":null,"put-db-record-catalog-name":null,"put-db-record-statement-type":"UPSERT","put-db-record-update-keys":"${upsert_keys}","put-db-record-quoted-identifiers":"false","put-db-record-unmatched-field-behavior":"Ignore Unmatched Fields","put-db-record-max-batch-size":"1000","Database Dialect Service":null,"Data Record Path":null,"database-session-autocommit":"false","table-schema-cache-size":"100","put-db-record-quoted-table-identifiers":"false","Statement Type Record Path":null,"Column Name Translation Pattern":null,"put-db-record-translate-field-names":"true","put-db-record-dcbp-service":"0f2febd4-42dc-37a1-9929-919f7ffe446b","put-db-record-query-timeout":"0 seconds","Column Name Translation Strategy":"REMOVE_UNDERSCORE","rollback-on-failure":"false","put-db-record-binary-format":"UTF-8","db-type":"PostgreSQL","put-db-record-table-name":"${file.stem}","put-db-record-record-reader":"31806836-bf7c-3dcc-82ee-3a05fbace2e2"},"propertyDescriptors":{"put-db-record-allow-multiple-statements":{"name":"put-db-record-allow-multiple-statements","displayName":"Allow Multiple SQL Statements","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-schema-name":{"name":"put-db-record-schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-field-containing-sql":{"name":"put-db-record-field-containing-sql","displayName":"Field Containing SQL","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-unmatched-column-behavior":{"name":"put-db-record-unmatched-column-behavior","displayName":"Unmatched Column Behavior","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Delete Keys":{"name":"Delete Keys","displayName":"Delete Keys","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-catalog-name":{"name":"put-db-record-catalog-name","displayName":"Catalog Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-statement-type":{"name":"put-db-record-statement-type","displayName":"Statement Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-update-keys":{"name":"put-db-record-update-keys","displayName":"Update Keys","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-quoted-identifiers":{"name":"put-db-record-quoted-identifiers","displayName":"Quote Column Identifiers","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-unmatched-field-behavior":{"name":"put-db-record-unmatched-field-behavior","displayName":"Unmatched Field Behavior","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-max-batch-size":{"name":"put-db-record-max-batch-size","displayName":"Maximum Batch Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Database Dialect Service":{"name":"Database Dialect Service","displayName":"Database Dialect Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Data Record Path":{"name":"Data Record Path","displayName":"Data Record Path","identifiesControllerService":false,"sensitive":false,"dynamic":false},"database-session-autocommit":{"name":"database-session-autocommit","displayName":"Database Session AutoCommit","identifiesControllerService":false,"sensitive":false,"dynamic":false},"table-schema-cache-size":{"name":"table-schema-cache-size","displayName":"Table Schema Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-quoted-table-identifiers":{"name":"put-db-record-quoted-table-identifiers","displayName":"Quote Table Identifiers","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Statement Type Record Path":{"name":"Statement Type Record Path","displayName":"Statement Type Record Path","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Column Name Translation Pattern":{"name":"Column Name Translation Pattern","displayName":"Column Name Translation Pattern","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-translate-field-names":{"name":"put-db-record-translate-field-names","displayName":"Translate Field Names","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-dcbp-service":{"name":"put-db-record-dcbp-service","displayName":"Database Connection Pooling Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"put-db-record-query-timeout":{"name":"put-db-record-query-timeout","displayName":"Max Wait Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Column Name Translation Strategy":{"name":"Column Name Translation Strategy","displayName":"Column Name Translation Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"rollback-on-failure":{"name":"rollback-on-failure","displayName":"Rollback On Failure","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-binary-format":{"name":"put-db-record-binary-format","displayName":"Binary String Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"db-type":{"name":"db-type","displayName":"Database Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-table-name":{"name":"put-db-record-table-name","displayName":"Table Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-record-reader":{"name":"put-db-record-record-reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"77ee8b3e-579a-3d48-a99f-57ceb01b44fd"},{"identifier":"2441c088-c136-386e-9ffb-1b4c7eb4911c","instanceIdentifier":"261f9e77-019a-1000-6766-3d58e045cb3a","name":"ExecuteSQL","comments":"","position":{"x":1424.0,"y":64.0},"type":"org.apache.nifi.processors.standard.ExecuteSQL","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.3.0"},"properties":{"esql-max-rows":"0","dbf-default-precision":"10","Max Wait Time":"0 seconds","SQL Query":"BEGIN;\n\nTRUNCATE TABLE fact_purchase_agg;\n\nWITH base AS (\n  SELECT\n      t.transaction_amt::numeric AS amount,\n      CASE c.gender WHEN 'M' THEN 'Мужчины' WHEN 'F' THEN 'Женщины' ELSE NULL END AS gender,\n      CASE\n        WHEN c.age IS NULL THEN NULL\n        WHEN c.age <= 18 THEN 'до 18'\n        WHEN c.age BETWEEN 19 AND 30 THEN '19–30'\n        ELSE 'от 31'\n      END AS age_bucket,\n      CASE m.mcc_cd\n        WHEN 5411 THEN 'Продукты'\n        WHEN 5732 THEN 'Электроника'\n        WHEN 5812 THEN 'Рестораны'\n        WHEN 5921 THEN 'Алкоголь'\n        WHEN 5999 THEN 'Прочий ритейл'\n        ELSE 'Другое'\n      END AS industry,\n      EXTRACT(YEAR  FROM t.transaction_dttm)::int AS year,\n      EXTRACT(MONTH FROM t.transaction_dttm)::int AS month\n  FROM transactions t\n  JOIN clients   c ON c.client_id   = t.client_id\n  JOIN merchants m ON m.merchant_id = t.merchant_id\n)\nINSERT INTO fact_purchase_agg\n  (gender, age_bucket, industry, year, month, sum_purchase, avg_purchase, cnt_purchase)\nSELECT\n    gender,\n    age_bucket,\n    industry,\n    year,\n    month,\n    ROUND(SUM(amount), 2) AS sum_purchase,\n    ROUND(AVG(amount), 2) AS avg_purchase,\n    COUNT(*)::bigint      AS cnt_purchase\nFROM base\nGROUP BY\n  CUBE (gender, age_bucket, industry),\n  GROUPING SETS ((year, month), (year), ());\n\n-- Обновляем статистику для оптимизатора\nANALYZE fact_purchase_agg;\n\nCOMMIT;","Database Connection Pooling Service":"0f2febd4-42dc-37a1-9929-919f7ffe446b","sql-post-query":null,"esql-auto-commit":"true","dbf-user-logical-types":"false","dbf-default-scale":"0","sql-pre-query":null,"compression-format":"NONE","esql-output-batch-size":"0","esql-fetch-size":"0","dbf-normalize":"false","Content Output Strategy":"EMPTY"},"propertyDescriptors":{"esql-max-rows":{"name":"esql-max-rows","displayName":"Max Rows Per Flow File","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbf-default-precision":{"name":"dbf-default-precision","displayName":"Default Decimal Precision","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max Wait Time":{"name":"Max Wait Time","displayName":"Max Wait Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"SQL Query":{"name":"SQL Query","displayName":"SQL Query","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Database Connection Pooling Service":{"name":"Database Connection Pooling Service","displayName":"Database Connection Pooling Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"sql-post-query":{"name":"sql-post-query","displayName":"SQL Post-Query","identifiesControllerService":false,"sensitive":false,"dynamic":false},"esql-auto-commit":{"name":"esql-auto-commit","displayName":"Set Auto Commit","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbf-user-logical-types":{"name":"dbf-user-logical-types","displayName":"Use Avro Logical Types","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbf-default-scale":{"name":"dbf-default-scale","displayName":"Default Decimal Scale","identifiesControllerService":false,"sensitive":false,"dynamic":false},"sql-pre-query":{"name":"sql-pre-query","displayName":"SQL Pre-Query","identifiesControllerService":false,"sensitive":false,"dynamic":false},"compression-format":{"name":"compression-format","displayName":"Compression Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"esql-output-batch-size":{"name":"esql-output-batch-size","displayName":"Output Batch Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"esql-fetch-size":{"name":"esql-fetch-size","displayName":"Fetch Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbf-normalize":{"name":"dbf-normalize","displayName":"Normalize Table/Column Names","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Content Output Strategy":{"name":"Content Output Strategy","displayName":"Content Output Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"77ee8b3e-579a-3d48-a99f-57ceb01b44fd"},{"identifier":"e5c832ff-979c-3f5e-841f-3d3fd08a034d","instanceIdentifier":"1f9980f7-019a-1000-339b-b1e5df0208da","name":"LogMessage","comments":"","position":{"x":408.0,"y":248.0},"type":"org.apache.nifi.processors.standard.LogMessage","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.3.0"},"properties":{"log-message":null,"log-level":"info","log-prefix":null},"propertyDescriptors":{"log-message":{"name":"log-message","displayName":"Log message","identifiesControllerService":false,"sensitive":false,"dynamic":false},"log-level":{"name":"log-level","displayName":"Log Level","identifiesControllerService":false,"sensitive":false,"dynamic":false},"log-prefix":{"name":"log-prefix","displayName":"Log prefix","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"DISABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"77ee8b3e-579a-3d48-a99f-57ceb01b44fd"},{"identifier":"23c4b846-065b-357a-afca-fa83fd9af1fe","instanceIdentifier":"1fae8642-019a-1000-b119-20b6336c8a22","name":"UpdateAttribute","comments":"","position":{"x":-192.0,"y":248.0},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"2.3.0"},"properties":{"Delete Attributes Expression":null,"source.etag":"${s3.etag}","source.key":"${s3.object.key}","file.stem":"${filename:replaceAll('^(.+)\\\\.csv$','$1'):toLower()}","Store State":"Do not store state","canonical-value-lookup-cache-size":"100","source.size":"${s3.length}","upsert_keys":"${filename:toLower():replaceAll('^clients\\\\.csv$','client_id'):replaceAll('^merchants\\\\.csv$','merchant_id'):replaceAll('^transactions\\\\.csv$','transaction_id')}","Stateful Variables Initial Value":null,"file.basename":"${filename}","source.bucket":"${s3.bucket}"},"propertyDescriptors":{"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"source.etag":{"name":"source.etag","displayName":"source.etag","identifiesControllerService":false,"sensitive":false,"dynamic":true},"source.key":{"name":"source.key","displayName":"source.key","identifiesControllerService":false,"sensitive":false,"dynamic":true},"file.stem":{"name":"file.stem","displayName":"file.stem","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false,"dynamic":false},"canonical-value-lookup-cache-size":{"name":"canonical-value-lookup-cache-size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"source.size":{"name":"source.size","displayName":"source.size","identifiesControllerService":false,"sensitive":false,"dynamic":true},"upsert_keys":{"name":"upsert_keys","displayName":"upsert_keys","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false,"dynamic":false},"file.basename":{"name":"file.basename","displayName":"file.basename","identifiesControllerService":false,"sensitive":false,"dynamic":true},"source.bucket":{"name":"source.bucket","displayName":"source.bucket","identifiesControllerService":false,"sensitive":false,"dynamic":true}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"77ee8b3e-579a-3d48-a99f-57ceb01b44fd"},{"identifier":"fc1fe244-7444-39cf-a707-59be6fb8d3bc","instanceIdentifier":"2619a2d9-019a-1000-acee-295de726ffc5","name":"ExecuteSQL","comments":"","position":{"x":824.0,"y":64.0},"type":"org.apache.nifi.processors.standard.ExecuteSQL","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.3.0"},"properties":{"esql-max-rows":"0","dbf-default-precision":"10","Max Wait Time":"0 seconds","SQL Query":"-- 1. Витрина агрегатов\nCREATE TABLE IF NOT EXISTS fact_purchase_agg (\n    gender        text,                         -- Мужчины / Женщины / NULL (все)\n    age_bucket    text,                         -- 'до 18' / '19–30' / 'от 31' / NULL (все)\n    industry      text,                         -- индустрия по MCC / NULL (все)\n    year          int,                          -- календарный год или NULL (все годы)\n    month         int,                          -- 1..12 или NULL (свертка по месяцам)\n    sum_purchase  numeric(20,2) NOT NULL,       -- сумма покупок\n    avg_purchase  numeric(20,2) NOT NULL,       -- средняя стоимость покупки\n    cnt_purchase  bigint        NOT NULL       -- количество покупок\n);\n\n-- 2. Индексы под типичные фильтры\nCREATE INDEX IF NOT EXISTS ix_fact_agg_time   ON fact_purchase_agg (year, month);\nCREATE INDEX IF NOT EXISTS ix_fact_agg_gender ON fact_purchase_agg (gender);\nCREATE INDEX IF NOT EXISTS ix_fact_agg_age    ON fact_purchase_agg (age_bucket);\nCREATE INDEX IF NOT EXISTS ix_fact_agg_ind    ON fact_purchase_agg (industry);","Database Connection Pooling Service":"0f2febd4-42dc-37a1-9929-919f7ffe446b","sql-post-query":null,"esql-auto-commit":"true","dbf-user-logical-types":"false","dbf-default-scale":"0","sql-pre-query":null,"compression-format":"NONE","esql-output-batch-size":"0","esql-fetch-size":"0","dbf-normalize":"false","Content Output Strategy":"EMPTY"},"propertyDescriptors":{"esql-max-rows":{"name":"esql-max-rows","displayName":"Max Rows Per Flow File","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbf-default-precision":{"name":"dbf-default-precision","displayName":"Default Decimal Precision","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max Wait Time":{"name":"Max Wait Time","displayName":"Max Wait Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"SQL Query":{"name":"SQL Query","displayName":"SQL Query","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Database Connection Pooling Service":{"name":"Database Connection Pooling Service","displayName":"Database Connection Pooling Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"sql-post-query":{"name":"sql-post-query","displayName":"SQL Post-Query","identifiesControllerService":false,"sensitive":false,"dynamic":false},"esql-auto-commit":{"name":"esql-auto-commit","displayName":"Set Auto Commit","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbf-user-logical-types":{"name":"dbf-user-logical-types","displayName":"Use Avro Logical Types","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbf-default-scale":{"name":"dbf-default-scale","displayName":"Default Decimal Scale","identifiesControllerService":false,"sensitive":false,"dynamic":false},"sql-pre-query":{"name":"sql-pre-query","displayName":"SQL Pre-Query","identifiesControllerService":false,"sensitive":false,"dynamic":false},"compression-format":{"name":"compression-format","displayName":"Compression Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"esql-output-batch-size":{"name":"esql-output-batch-size","displayName":"Output Batch Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"esql-fetch-size":{"name":"esql-fetch-size","displayName":"Fetch Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbf-normalize":{"name":"dbf-normalize","displayName":"Normalize Table/Column Names","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Content Output Strategy":{"name":"Content Output Strategy","displayName":"Content Output Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"77ee8b3e-579a-3d48-a99f-57ceb01b44fd"},{"identifier":"79110c39-872f-382d-9328-1fd4b7cffb96","instanceIdentifier":"1fad541c-019a-1000-5d21-a611a9a526d3","name":"RouteOnAttribute","comments":"","position":{"x":-192.0,"y":432.0},"type":"org.apache.nifi.processors.standard.RouteOnAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.3.0"},"properties":{"Routing Strategy":"Route to Property name","allowed":"${file.basename:toLower():matches('^(clients|merchants|transactions)\\\\.csv$')}"},"propertyDescriptors":{"Routing Strategy":{"name":"Routing Strategy","displayName":"Routing Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"allowed":{"name":"allowed","displayName":"allowed","identifiesControllerService":false,"sensitive":false,"dynamic":true}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"77ee8b3e-579a-3d48-a99f-57ceb01b44fd"},{"identifier":"24408fc8-2838-328d-9839-a05f188564ce","instanceIdentifier":"1d77652b-019a-1000-3065-57bf0ea06be2","name":"ListS3","comments":"","position":{"x":-192.0,"y":-120.0},"type":"org.apache.nifi.processors.aws.s3.ListS3","bundle":{"group":"org.apache.nifi","artifact":"nifi-aws-nar","version":"2.3.0"},"properties":{"list-type":"1","et-initial-listing-target":"all","prefix":null,"record-writer":null,"proxy-configuration-service":null,"Endpoint Override URL":"http://minio:9000","et-time-window":"3 hours","custom-signer-class-name":null,"requester-pays":"false","custom-signer-module-location":null,"listing-strategy":"none","Signer Override":"Default Signature","delimiter":null,"min-age":"0 sec","write-s3-user-metadata":"false","max-age":null,"AWS Credentials Provider service":"7062a4f7-4fb3-3124-9c63-7918023c7c7f","Listing Batch Size":"100","SSL Context Service":null,"write-s3-object-tags":"false","Bucket":"#{S3_BUCKET}","Communications Timeout":"30 secs","Region":"#{S3_REGION}","et-state-cache":null,"use-versions":"false"},"propertyDescriptors":{"list-type":{"name":"list-type","displayName":"List Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"et-initial-listing-target":{"name":"et-initial-listing-target","displayName":"Entity Tracking Initial Listing Target","identifiesControllerService":false,"sensitive":false,"dynamic":false},"prefix":{"name":"prefix","displayName":"Prefix","identifiesControllerService":false,"sensitive":false,"dynamic":false},"record-writer":{"name":"record-writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false},"proxy-configuration-service":{"name":"proxy-configuration-service","displayName":"Proxy Configuration Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Endpoint Override URL":{"name":"Endpoint Override URL","displayName":"Endpoint Override URL","identifiesControllerService":false,"sensitive":false,"dynamic":false},"et-time-window":{"name":"et-time-window","displayName":"Entity Tracking Time Window","identifiesControllerService":false,"sensitive":false,"dynamic":false},"custom-signer-class-name":{"name":"custom-signer-class-name","displayName":"Custom Signer Class Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"requester-pays":{"name":"requester-pays","displayName":"Requester Pays","identifiesControllerService":false,"sensitive":false,"dynamic":false},"custom-signer-module-location":{"name":"custom-signer-module-location","displayName":"Custom Signer Module Location","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["FILE","DIRECTORY"]}},"listing-strategy":{"name":"listing-strategy","displayName":"Listing Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Signer Override":{"name":"Signer Override","displayName":"Signer Override","identifiesControllerService":false,"sensitive":false,"dynamic":false},"delimiter":{"name":"delimiter","displayName":"Delimiter","identifiesControllerService":false,"sensitive":false,"dynamic":false},"min-age":{"name":"min-age","displayName":"Minimum Object Age","identifiesControllerService":false,"sensitive":false,"dynamic":false},"write-s3-user-metadata":{"name":"write-s3-user-metadata","displayName":"Write User Metadata","identifiesControllerService":false,"sensitive":false,"dynamic":false},"max-age":{"name":"max-age","displayName":"Maximum Object Age","identifiesControllerService":false,"sensitive":false,"dynamic":false},"AWS Credentials Provider service":{"name":"AWS Credentials Provider service","displayName":"AWS Credentials Provider Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Listing Batch Size":{"name":"Listing Batch Size","displayName":"Listing Batch Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"write-s3-object-tags":{"name":"write-s3-object-tags","displayName":"Write Object Tags","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Bucket":{"name":"Bucket","displayName":"Bucket","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Communications Timeout":{"name":"Communications Timeout","displayName":"Communications Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Region":{"name":"Region","displayName":"Region","identifiesControllerService":false,"sensitive":false,"dynamic":false},"et-state-cache":{"name":"et-state-cache","displayName":"Entity Tracking State Cache","identifiesControllerService":true,"sensitive":false,"dynamic":false},"use-versions":{"name":"use-versions","displayName":"Use Versions","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"1 min","schedulingStrategy":"TIMER_DRIVEN","executionNode":"PRIMARY","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":5,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 sec","componentType":"PROCESSOR","groupIdentifier":"77ee8b3e-579a-3d48-a99f-57ceb01b44fd"},{"identifier":"983ef01f-f9a3-313a-8cc2-6f5c180d387f","instanceIdentifier":"1fa765d9-019a-1000-7106-55d9b9ecd56b","name":"FetchS3Object","comments":"","position":{"x":-192.0,"y":64.0},"type":"org.apache.nifi.processors.aws.s3.FetchS3Object","bundle":{"group":"org.apache.nifi","artifact":"nifi-aws-nar","version":"2.3.0"},"properties":{"range-length":null,"range-start":null,"proxy-configuration-service":null,"Endpoint Override URL":"#{S3_ENDPOINT}","custom-signer-class-name":null,"requester-pays":"false","Object Key":"${filename}","AWS Credentials Provider service":"7062a4f7-4fb3-3124-9c63-7918023c7c7f","custom-signer-module-location":null,"SSL Context Service":null,"Signer Override":"Default Signature","Bucket":"${s3.bucket}","Version":null,"Communications Timeout":"30 secs","Region":"#{S3_REGION}","encryption-service":null},"propertyDescriptors":{"range-length":{"name":"range-length","displayName":"Range Length","identifiesControllerService":false,"sensitive":false,"dynamic":false},"range-start":{"name":"range-start","displayName":"Range Start","identifiesControllerService":false,"sensitive":false,"dynamic":false},"proxy-configuration-service":{"name":"proxy-configuration-service","displayName":"Proxy Configuration Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Endpoint Override URL":{"name":"Endpoint Override URL","displayName":"Endpoint Override URL","identifiesControllerService":false,"sensitive":false,"dynamic":false},"custom-signer-class-name":{"name":"custom-signer-class-name","displayName":"Custom Signer Class Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"requester-pays":{"name":"requester-pays","displayName":"Requester Pays","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Object Key":{"name":"Object Key","displayName":"Object Key","identifiesControllerService":false,"sensitive":false,"dynamic":false},"AWS Credentials Provider service":{"name":"AWS Credentials Provider service","displayName":"AWS Credentials Provider Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"custom-signer-module-location":{"name":"custom-signer-module-location","displayName":"Custom Signer Module Location","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["FILE","DIRECTORY"]}},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Signer Override":{"name":"Signer Override","displayName":"Signer Override","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Bucket":{"name":"Bucket","displayName":"Bucket","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Version":{"name":"Version","displayName":"Version","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Communications Timeout":{"name":"Communications Timeout","displayName":"Communications Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Region":{"name":"Region","displayName":"Region","identifiesControllerService":false,"sensitive":false,"dynamic":false},"encryption-service":{"name":"encryption-service","displayName":"Encryption Service","identifiesControllerService":true,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"77ee8b3e-579a-3d48-a99f-57ceb01b44fd"},{"identifier":"df7ebfef-5161-328d-9d51-8240e4923ea8","instanceIdentifier":"200cdb6c-019a-1000-38c9-3df74eac6bea","name":"LogMessage","comments":"","position":{"x":-192.0,"y":808.0},"type":"org.apache.nifi.processors.standard.LogMessage","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.3.0"},"properties":{"log-message":null,"log-level":"info","log-prefix":null},"propertyDescriptors":{"log-message":{"name":"log-message","displayName":"Log message","identifiesControllerService":false,"sensitive":false,"dynamic":false},"log-level":{"name":"log-level","displayName":"Log Level","identifiesControllerService":false,"sensitive":false,"dynamic":false},"log-prefix":{"name":"log-prefix","displayName":"Log prefix","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"DISABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"77ee8b3e-579a-3d48-a99f-57ceb01b44fd"}],"inputPorts":[],"outputPorts":[],"connections":[{"identifier":"275a54e6-942c-3eff-875c-6ecb1c7d0c7f","instanceIdentifier":"2620952c-019a-1000-ef0e-bf28bb5e5703","name":"","source":{"id":"2441c088-c136-386e-9ffb-1b4c7eb4911c","type":"PROCESSOR","groupId":"77ee8b3e-579a-3d48-a99f-57ceb01b44fd","name":"ExecuteSQL","comments":"","instanceIdentifier":"261f9e77-019a-1000-6766-3d58e045cb3a"},"destination":{"id":"df3fecd1-7dc6-3b9f-93cd-ec83f5d3a35a","type":"PROCESSOR","groupId":"77ee8b3e-579a-3d48-a99f-57ceb01b44fd","name":"LogMessage","comments":"","instanceIdentifier":"26205d53-019a-1000-6ac3-fc36806e5cc8"},"labelIndex":0,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":1836.420166015625,"y":220.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"77ee8b3e-579a-3d48-a99f-57ceb01b44fd"},{"identifier":"7c3653fd-7324-3f8b-8526-30350d78103b","instanceIdentifier":"1fa77ebb-019a-1000-0dd9-2f2d8615697b","name":"","source":{"id":"24408fc8-2838-328d-9839-a05f188564ce","type":"PROCESSOR","groupId":"77ee8b3e-579a-3d48-a99f-57ceb01b44fd","name":"ListS3","comments":"","instanceIdentifier":"1d77652b-019a-1000-3065-57bf0ea06be2"},"destination":{"id":"983ef01f-f9a3-313a-8cc2-6f5c180d387f","type":"PROCESSOR","groupId":"77ee8b3e-579a-3d48-a99f-57ceb01b44fd","name":"FetchS3Object","comments":"","instanceIdentifier":"1fa765d9-019a-1000-7106-55d9b9ecd56b"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"77ee8b3e-579a-3d48-a99f-57ceb01b44fd"},{"identifier":"646cea8c-a6b0-348e-aa3a-c77d4f3b53dc","instanceIdentifier":"1fa79031-019a-1000-1ba8-25d99d40ba6d","name":"","source":{"id":"983ef01f-f9a3-313a-8cc2-6f5c180d387f","type":"PROCESSOR","groupId":"77ee8b3e-579a-3d48-a99f-57ceb01b44fd","name":"FetchS3Object","comments":"","instanceIdentifier":"1fa765d9-019a-1000-7106-55d9b9ecd56b"},"destination":{"id":"e5c832ff-979c-3f5e-841f-3d3fd08a034d","type":"PROCESSOR","groupId":"77ee8b3e-579a-3d48-a99f-57ceb01b44fd","name":"LogMessage","comments":"","instanceIdentifier":"1f9980f7-019a-1000-339b-b1e5df0208da"},"labelIndex":0,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10,"backPressureDataSizeThreshold":"20 MB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"77ee8b3e-579a-3d48-a99f-57ceb01b44fd"},{"identifier":"858411aa-d7b8-3fc8-8da9-91c44da40407","instanceIdentifier":"2619b587-019a-1000-72d2-32d5c52b096b","name":"","source":{"id":"0bc39506-f3f3-32c2-ac40-4582f8e7abed","type":"PROCESSOR","groupId":"77ee8b3e-579a-3d48-a99f-57ceb01b44fd","name":"GenerateFlowFile","comments":"","instanceIdentifier":"2619735e-019a-1000-bcfc-141404973bb6"},"destination":{"id":"fc1fe244-7444-39cf-a707-59be6fb8d3bc","type":"PROCESSOR","groupId":"77ee8b3e-579a-3d48-a99f-57ceb01b44fd","name":"ExecuteSQL","comments":"","instanceIdentifier":"2619a2d9-019a-1000-acee-295de726ffc5"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"77ee8b3e-579a-3d48-a99f-57ceb01b44fd"},{"identifier":"b0e4ca12-3023-3550-bb5e-557fae9a0e92","instanceIdentifier":"1ff731ad-019a-1000-c179-349b0dba331d","name":"","source":{"id":"23c4b846-065b-357a-afca-fa83fd9af1fe","type":"PROCESSOR","groupId":"77ee8b3e-579a-3d48-a99f-57ceb01b44fd","name":"UpdateAttribute","comments":"","instanceIdentifier":"1fae8642-019a-1000-b119-20b6336c8a22"},"destination":{"id":"79110c39-872f-382d-9328-1fd4b7cffb96","type":"PROCESSOR","groupId":"77ee8b3e-579a-3d48-a99f-57ceb01b44fd","name":"RouteOnAttribute","comments":"","instanceIdentifier":"1fad541c-019a-1000-5d21-a611a9a526d3"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"77ee8b3e-579a-3d48-a99f-57ceb01b44fd"},{"identifier":"6f7e49c2-e319-3eb2-8ad4-d4677ee1efec","instanceIdentifier":"1ff9d161-019a-1000-8e41-823cd7205d44","name":"","source":{"id":"79110c39-872f-382d-9328-1fd4b7cffb96","type":"PROCESSOR","groupId":"77ee8b3e-579a-3d48-a99f-57ceb01b44fd","name":"RouteOnAttribute","comments":"","instanceIdentifier":"1fad541c-019a-1000-5d21-a611a9a526d3"},"destination":{"id":"e5c832ff-979c-3f5e-841f-3d3fd08a034d","type":"PROCESSOR","groupId":"77ee8b3e-579a-3d48-a99f-57ceb01b44fd","name":"LogMessage","comments":"","instanceIdentifier":"1f9980f7-019a-1000-339b-b1e5df0208da"},"labelIndex":0,"zIndex":0,"selectedRelationships":["unmatched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"77ee8b3e-579a-3d48-a99f-57ceb01b44fd"},{"identifier":"39b6f7d8-be24-3883-9ccb-eb0b07506fd8","instanceIdentifier":"261ae5c1-019a-1000-133e-8d7f9e0acf1f","name":"","source":{"id":"fc1fe244-7444-39cf-a707-59be6fb8d3bc","type":"PROCESSOR","groupId":"77ee8b3e-579a-3d48-a99f-57ceb01b44fd","name":"ExecuteSQL","comments":"","instanceIdentifier":"2619a2d9-019a-1000-acee-295de726ffc5"},"destination":{"id":"93686f67-de16-3ee5-a377-e7ac4552e0c0","type":"PROCESSOR","groupId":"77ee8b3e-579a-3d48-a99f-57ceb01b44fd","name":"LogMessage","comments":"","instanceIdentifier":"261ac3ed-019a-1000-8a1a-9fd236c6d43c"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"77ee8b3e-579a-3d48-a99f-57ceb01b44fd"},{"identifier":"e6e96675-22f5-3c13-859f-ade1a53221e6","instanceIdentifier":"1ff996d8-019a-1000-2f8e-27689542c89e","name":"","source":{"id":"79110c39-872f-382d-9328-1fd4b7cffb96","type":"PROCESSOR","groupId":"77ee8b3e-579a-3d48-a99f-57ceb01b44fd","name":"RouteOnAttribute","comments":"","instanceIdentifier":"1fad541c-019a-1000-5d21-a611a9a526d3"},"destination":{"id":"dd2edc31-8919-3260-9ef7-78d7b1934f6f","type":"PROCESSOR","groupId":"77ee8b3e-579a-3d48-a99f-57ceb01b44fd","name":"PutDatabaseRecord","comments":"","instanceIdentifier":"1ff97428-019a-1000-29ea-4df6e031933e"},"labelIndex":0,"zIndex":0,"selectedRelationships":["allowed"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"77ee8b3e-579a-3d48-a99f-57ceb01b44fd"},{"identifier":"fc06a53b-6da1-3920-9b46-5364ce3f741a","instanceIdentifier":"200cc4db-019a-1000-fae1-30a8ace6f493","name":"","source":{"id":"dd2edc31-8919-3260-9ef7-78d7b1934f6f","type":"PROCESSOR","groupId":"77ee8b3e-579a-3d48-a99f-57ceb01b44fd","name":"PutDatabaseRecord","comments":"","instanceIdentifier":"1ff97428-019a-1000-29ea-4df6e031933e"},"destination":{"id":"e5c832ff-979c-3f5e-841f-3d3fd08a034d","type":"PROCESSOR","groupId":"77ee8b3e-579a-3d48-a99f-57ceb01b44fd","name":"LogMessage","comments":"","instanceIdentifier":"1f9980f7-019a-1000-339b-b1e5df0208da"},"labelIndex":0,"zIndex":0,"selectedRelationships":["failure","retry"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"77ee8b3e-579a-3d48-a99f-57ceb01b44fd"},{"identifier":"f7aabeff-300c-34f9-a1cc-30a827655054","instanceIdentifier":"261b29df-019a-1000-865f-e52ed3ab09dd","name":"","source":{"id":"fc1fe244-7444-39cf-a707-59be6fb8d3bc","type":"PROCESSOR","groupId":"77ee8b3e-579a-3d48-a99f-57ceb01b44fd","name":"ExecuteSQL","comments":"","instanceIdentifier":"2619a2d9-019a-1000-acee-295de726ffc5"},"destination":{"id":"93686f67-de16-3ee5-a377-e7ac4552e0c0","type":"PROCESSOR","groupId":"77ee8b3e-579a-3d48-a99f-57ceb01b44fd","name":"LogMessage","comments":"","instanceIdentifier":"261ac3ed-019a-1000-8a1a-9fd236c6d43c"},"labelIndex":0,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":1239.2645263671875,"y":219.08819580078125}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"77ee8b3e-579a-3d48-a99f-57ceb01b44fd"},{"identifier":"6174504e-a1d1-3475-ac25-f404b15aeaf5","instanceIdentifier":"1fa7e10c-019a-1000-aef4-ec00da5e676a","name":"","source":{"id":"24408fc8-2838-328d-9839-a05f188564ce","type":"PROCESSOR","groupId":"77ee8b3e-579a-3d48-a99f-57ceb01b44fd","name":"ListS3","comments":"","instanceIdentifier":"1d77652b-019a-1000-3065-57bf0ea06be2"},"destination":{"id":"e5c832ff-979c-3f5e-841f-3d3fd08a034d","type":"PROCESSOR","groupId":"77ee8b3e-579a-3d48-a99f-57ceb01b44fd","name":"LogMessage","comments":"","instanceIdentifier":"1f9980f7-019a-1000-339b-b1e5df0208da"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10,"backPressureDataSizeThreshold":"20 MB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"77ee8b3e-579a-3d48-a99f-57ceb01b44fd"},{"identifier":"0930c33a-993f-3619-837a-1bc389a74e62","instanceIdentifier":"1fae2b5f-019a-1000-920e-a112937e4c80","name":"","source":{"id":"983ef01f-f9a3-313a-8cc2-6f5c180d387f","type":"PROCESSOR","groupId":"77ee8b3e-579a-3d48-a99f-57ceb01b44fd","name":"FetchS3Object","comments":"","instanceIdentifier":"1fa765d9-019a-1000-7106-55d9b9ecd56b"},"destination":{"id":"23c4b846-065b-357a-afca-fa83fd9af1fe","type":"PROCESSOR","groupId":"77ee8b3e-579a-3d48-a99f-57ceb01b44fd","name":"UpdateAttribute","comments":"","instanceIdentifier":"1fae8642-019a-1000-b119-20b6336c8a22"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"77ee8b3e-579a-3d48-a99f-57ceb01b44fd"},{"identifier":"6815c35b-1c99-3cb2-b895-be796feb7ab5","instanceIdentifier":"26208961-019a-1000-ff63-e0cbecde64c7","name":"","source":{"id":"2441c088-c136-386e-9ffb-1b4c7eb4911c","type":"PROCESSOR","groupId":"77ee8b3e-579a-3d48-a99f-57ceb01b44fd","name":"ExecuteSQL","comments":"","instanceIdentifier":"261f9e77-019a-1000-6766-3d58e045cb3a"},"destination":{"id":"df3fecd1-7dc6-3b9f-93cd-ec83f5d3a35a","type":"PROCESSOR","groupId":"77ee8b3e-579a-3d48-a99f-57ceb01b44fd","name":"LogMessage","comments":"","instanceIdentifier":"26205d53-019a-1000-6ac3-fc36806e5cc8"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"77ee8b3e-579a-3d48-a99f-57ceb01b44fd"},{"identifier":"b179ad10-3f2c-3451-b47d-704cfe5704ce","instanceIdentifier":"200cf059-019a-1000-ae5a-663d709631c8","name":"","source":{"id":"dd2edc31-8919-3260-9ef7-78d7b1934f6f","type":"PROCESSOR","groupId":"77ee8b3e-579a-3d48-a99f-57ceb01b44fd","name":"PutDatabaseRecord","comments":"","instanceIdentifier":"1ff97428-019a-1000-29ea-4df6e031933e"},"destination":{"id":"df7ebfef-5161-328d-9d51-8240e4923ea8","type":"PROCESSOR","groupId":"77ee8b3e-579a-3d48-a99f-57ceb01b44fd","name":"LogMessage","comments":"","instanceIdentifier":"200cdb6c-019a-1000-38c9-3df74eac6bea"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"77ee8b3e-579a-3d48-a99f-57ceb01b44fd"},{"identifier":"a1da0a32-4049-30cf-b097-334d2b48b2ff","instanceIdentifier":"261fc9be-019a-1000-3e69-620c488fb540","name":"","source":{"id":"66c11031-3382-3934-9f10-c29b2d9cbfc4","type":"PROCESSOR","groupId":"77ee8b3e-579a-3d48-a99f-57ceb01b44fd","name":"GenerateFlowFile","comments":"","instanceIdentifier":"261f4c6f-019a-1000-bfe3-2f600e3e2bce"},"destination":{"id":"2441c088-c136-386e-9ffb-1b4c7eb4911c","type":"PROCESSOR","groupId":"77ee8b3e-579a-3d48-a99f-57ceb01b44fd","name":"ExecuteSQL","comments":"","instanceIdentifier":"261f9e77-019a-1000-6766-3d58e045cb3a"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"77ee8b3e-579a-3d48-a99f-57ceb01b44fd"}],"labels":[{"identifier":"ed403587-1d39-3e66-8520-a2486100dc11","instanceIdentifier":"261ef004-019a-1000-0bcc-0465825bc8fa","position":{"x":1400.0,"y":-144.0},"label":"Обновление данных агрегатов","zIndex":0,"width":568.0,"height":536.0,"style":{"font-size":"12px"},"componentType":"LABEL","groupIdentifier":"77ee8b3e-579a-3d48-a99f-57ceb01b44fd"},{"identifier":"7f2d6687-e256-362d-904c-4527313483fa","instanceIdentifier":"2618920d-019a-1000-a13b-bc37f950374b","position":{"x":-240.0,"y":-144.0},"label":"Загрузка данных из s3 в postgres","zIndex":0,"width":1016.0,"height":1112.0,"style":{"font-size":"12px"},"componentType":"LABEL","groupIdentifier":"77ee8b3e-579a-3d48-a99f-57ceb01b44fd"},{"identifier":"8d22555f-0c46-3639-b6ea-200fdf10e542","instanceIdentifier":"261e6412-019a-1000-b21c-f58e6b355cad","position":{"x":800.0,"y":-144.0},"label":"Создание таблицы агрегатов","zIndex":0,"width":576.0,"height":536.0,"style":{"font-size":"12px"},"componentType":"LABEL","groupIdentifier":"77ee8b3e-579a-3d48-a99f-57ceb01b44fd"}],"funnels":[],"controllerServices":[{"identifier":"0f2febd4-42dc-37a1-9929-919f7ffe446b","instanceIdentifier":"200670f4-019a-1000-dba4-c833ba76d32a","name":"DBCPConnectionPool","comments":"","type":"org.apache.nifi.dbcp.DBCPConnectionPool","bundle":{"group":"org.apache.nifi","artifact":"nifi-dbcp-service-nar","version":"2.3.0"},"properties":{"dbcp-min-idle-conns":"0","Max Wait Time":"500 millis","Database Driver Class Name":"org.postgresql.Driver","dbcp-min-evictable-idle-time":"30 mins","Max Total Connections":"8","dbcp-max-conn-lifetime":"-1","Validation-query":"SELECT 1","Database Connection URL":"jdbc:postgresql://postgres:5432/shop","dbcp-time-between-eviction-runs":"-1","Database User":"etl_user","kerberos-user-service":null,"dbcp-soft-min-evictable-idle-time":"-1","database-driver-locations":"/opt/nifi/nifi-current/extensions/jdbc/postgresql-42.7.4.jar","dbcp-max-idle-conns":"8"},"propertyDescriptors":{"dbcp-min-idle-conns":{"name":"dbcp-min-idle-conns","displayName":"Minimum Idle Connections","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max Wait Time":{"name":"Max Wait Time","displayName":"Max Wait Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Database Driver Class Name":{"name":"Database Driver Class Name","displayName":"Database Driver Class Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbcp-min-evictable-idle-time":{"name":"dbcp-min-evictable-idle-time","displayName":"Minimum Evictable Idle Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max Total Connections":{"name":"Max Total Connections","displayName":"Max Total Connections","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbcp-max-conn-lifetime":{"name":"dbcp-max-conn-lifetime","displayName":"Max Connection Lifetime","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Validation-query":{"name":"Validation-query","displayName":"Validation query","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Database Connection URL":{"name":"Database Connection URL","displayName":"Database Connection URL","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbcp-time-between-eviction-runs":{"name":"dbcp-time-between-eviction-runs","displayName":"Time Between Eviction Runs","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Database User":{"name":"Database User","displayName":"Database User","identifiesControllerService":false,"sensitive":false,"dynamic":false},"kerberos-user-service":{"name":"kerberos-user-service","displayName":"Kerberos User Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"dbcp-soft-min-evictable-idle-time":{"name":"dbcp-soft-min-evictable-idle-time","displayName":"Soft Minimum Evictable Idle Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"database-driver-locations":{"name":"database-driver-locations","displayName":"Database Driver Location(s)","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["FILE","DIRECTORY","URL"]}},"dbcp-max-idle-conns":{"name":"dbcp-max-idle-conns","displayName":"Max Idle Connections","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Password":{"name":"Password","displayName":"Password","identifiesControllerService":false,"sensitive":true,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.dbcp.DBCPService","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.3.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"77ee8b3e-579a-3d48-a99f-57ceb01b44fd"},{"identifier":"7062a4f7-4fb3-3124-9c63-7918023c7c7f","instanceIdentifier":"b8049f96-542c-3f3f-9992-af5b1b5867d5","name":"AWSCredentialsProviderControllerService","comments":"","type":"org.apache.nifi.processors.aws.credentials.provider.service.AWSCredentialsProviderControllerService","bundle":{"group":"org.apache.nifi","artifact":"nifi-aws-nar","version":"2.3.0"},"properties":{"profile-name":null,"assume-role-proxy-configuration-service":null,"default-credentials":"false","Session Time":"3600","assume-role-ssl-context-service":null,"assume-role-sts-signer-override":"Default Signature","custom-signer-class-name":null,"Assume Role ARN":null,"custom-signer-module-location":null,"Assume Role Session Name":null,"assume-role-sts-endpoint":null,"assume-role-sts-region":"us-west-2","Credentials File":null,"assume-role-external-id":null,"anonymous-credentials":"false"},"propertyDescriptors":{"profile-name":{"name":"profile-name","displayName":"Profile Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Access Key":{"name":"Access Key","displayName":"Access Key ID","identifiesControllerService":false,"sensitive":true,"dynamic":false},"assume-role-proxy-configuration-service":{"name":"assume-role-proxy-configuration-service","displayName":"Assume Role Proxy Configuration Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"default-credentials":{"name":"default-credentials","displayName":"Use Default Credentials","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Session Time":{"name":"Session Time","displayName":"Assume Role Session Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"assume-role-ssl-context-service":{"name":"assume-role-ssl-context-service","displayName":"Assume Role SSL Context Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"assume-role-sts-signer-override":{"name":"assume-role-sts-signer-override","displayName":"Assume Role STS Signer Override","identifiesControllerService":false,"sensitive":false,"dynamic":false},"custom-signer-class-name":{"name":"custom-signer-class-name","displayName":"Custom Signer Class Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Assume Role ARN":{"name":"Assume Role ARN","displayName":"Assume Role ARN","identifiesControllerService":false,"sensitive":false,"dynamic":false},"custom-signer-module-location":{"name":"custom-signer-module-location","displayName":"Custom Signer Module Location","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["FILE","DIRECTORY"]}},"Assume Role Session Name":{"name":"Assume Role Session Name","displayName":"Assume Role Session Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"assume-role-sts-endpoint":{"name":"assume-role-sts-endpoint","displayName":"Assume Role STS Endpoint Override","identifiesControllerService":false,"sensitive":false,"dynamic":false},"assume-role-sts-region":{"name":"assume-role-sts-region","displayName":"Assume Role STS Region","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Secret Key":{"name":"Secret Key","displayName":"Secret Access Key","identifiesControllerService":false,"sensitive":true,"dynamic":false},"Credentials File":{"name":"Credentials File","displayName":"Credentials File","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE"]}},"assume-role-external-id":{"name":"assume-role-external-id","displayName":"Assume Role External ID","identifiesControllerService":false,"sensitive":false,"dynamic":false},"anonymous-credentials":{"name":"anonymous-credentials","displayName":"Use Anonymous Credentials","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.processors.aws.credentials.provider.service.AWSCredentialsProviderService","bundle":{"group":"org.apache.nifi","artifact":"nifi-aws-service-api-nar","version":"2.3.0"}},{"type":"org.apache.nifi.processors.aws.credentials.provider.AwsCredentialsProviderService","bundle":{"group":"org.apache.nifi","artifact":"nifi-aws-service-api-nar","version":"2.3.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"77ee8b3e-579a-3d48-a99f-57ceb01b44fd"},{"identifier":"31806836-bf7c-3dcc-82ee-3a05fbace2e2","instanceIdentifier":"1fff33eb-019a-1000-3ee0-dbb3663c14e0","name":"CSVReader","comments":"","type":"org.apache.nifi.csv.CSVReader","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"2.3.0"},"properties":{"schema-reference-reader":null,"ignore-csv-header":"false","schema-branch":null,"Trim double quote":"true","CSV Format":"rfc-4180","Quote Character":"\"","csvutils-allow-duplicate-header-names":"true","Value Separator":",","Record Separator":"\\n","Timestamp Format":"yyyy-MM-dd HH:mm:ss","Escape Character":"\\","Date Format":null,"Null String":null,"Skip Header Line":"true","Trim Fields":"true","schema-name":"${schema.name}","schema-registry":null,"csv-reader-csv-parser":"commons-csv","Time Format":null,"Comment Marker":null,"schema-access-strategy":"infer-schema","schema-version":null,"csvutils-character-set":"UTF-8","schema-text":"${avro.schema}"},"propertyDescriptors":{"schema-reference-reader":{"name":"schema-reference-reader","displayName":"Schema Reference Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"ignore-csv-header":{"name":"ignore-csv-header","displayName":"Ignore CSV Header Column Names","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Trim double quote":{"name":"Trim double quote","displayName":"Trim double quote","identifiesControllerService":false,"sensitive":false,"dynamic":false},"CSV Format":{"name":"CSV Format","displayName":"CSV Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Quote Character":{"name":"Quote Character","displayName":"Quote Character","identifiesControllerService":false,"sensitive":false,"dynamic":false},"csvutils-allow-duplicate-header-names":{"name":"csvutils-allow-duplicate-header-names","displayName":"Allow Duplicate Header Names","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Value Separator":{"name":"Value Separator","displayName":"Value Separator","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Record Separator":{"name":"Record Separator","displayName":"Record Separator","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Escape Character":{"name":"Escape Character","displayName":"Escape Character","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Null String":{"name":"Null String","displayName":"Null String","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Skip Header Line":{"name":"Skip Header Line","displayName":"Treat First Line as Header","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Trim Fields":{"name":"Trim Fields","displayName":"Trim Fields","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false,"dynamic":false},"csv-reader-csv-parser":{"name":"csv-reader-csv-parser","displayName":"CSV Parser","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Comment Marker":{"name":"Comment Marker","displayName":"Comment Marker","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false,"dynamic":false},"csvutils-character-set":{"name":"csvutils-character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordReaderFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.3.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"77ee8b3e-579a-3d48-a99f-57ceb01b44fd"}],"parameterContextName":"etl","defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","scheduledState":"ENABLED","executionEngine":"INHERITED","maxConcurrentTasks":1,"statelessFlowTimeout":"1 min","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","componentType":"PROCESS_GROUP"},"externalControllerServices":{},"parameterContexts":{"etl":{"name":"etl","parameters":[{"name":"S3_BUCKET","description":"","sensitive":false,"provided":false,"value":"shop-transactions"},{"name":"S3_REGION","description":"","sensitive":false,"provided":false,"value":"us-east-1"},{"name":"PG_PASSWORD","description":"","sensitive":false,"provided":false,"value":"etl_pass"},{"name":"S3_SECRET_KEY","description":"","sensitive":false,"provided":false,"value":"minioadmin"},{"name":"S3_ENDPOINT","description":"","sensitive":false,"provided":false,"value":"http://minio:9000"},{"name":"S3_ACCESS_KEY","description":"","sensitive":false,"provided":false,"value":"minioadmin"},{"name":"PG_URL","description":"","sensitive":false,"provided":false,"value":"jdbc:postgresql://postgres:5432/shop"},{"name":"PG_USER","description":"","sensitive":false,"provided":false,"value":"etl_user"}],"inheritedParameterContexts":[],"componentType":"PARAMETER_CONTEXT"}},"flowEncodingVersion":"1.0","parameterProviders":{},"latest":false}